<div class="container text-center">

  <h1>Welcome to Habit Tracker</h1>

  <p>Research shows that it takes about 66 days to create a new habit. Get started today!</p>

</div>

<div class="container text-center">
  <div class="rounded">
      <%= image_tag "home/plant_growing.jpg", :class => "img-fluid w-75" %>
  </div>
</div>
