<% if @goal.errors.any? %>
  <div class="container text-center error_messages">
    <h3>Please fix the following errors:</h3>
    <ul class="list-group">
      <% @goal.errors.full_messages.each do |message| %>
        <li class="list-group-item">
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container text-center">
  <h1>Create a Goal</h1>
</div>

<%= render "form", goal: @goal do |f| %>
  <%= f.submit "Create Goal", :class => "btn btn-primary" %>
<% end %>
